# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Virtual Environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Streamlit
.streamlit/secrets.toml

# OS Files
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/

# Logs
*.log

# Trained models
random_forest.pkl
models/*.pkl
models/*.keras
models/*.h5
models/*.json

# Scalers
feature_scaler.pkl
target_scaler.pkl
*.joblib

# Large datasets
Data/

# SQLite Database
users.db

# TensorFlow
logs/
tensorboard_logs/